# Firebase — HOME client backend (home-market-368b4). Do NOT mix with main client.
NUXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCP03D1IH7JW0cjc766lmSYENQJ5XZa-Pw
NUXT_PUBLIC_FIREBASE_AUTH_DOMAIN=home-market-368b4.firebaseapp.com
NUXT_PUBLIC_FIREBASE_PROJECT_ID=home-market-368b4
NUXT_PUBLIC_FIREBASE_STORAGE_BUCKET=home-market-368b4.firebasestorage.app
NUXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=124365662957
NUXT_PUBLIC_FIREBASE_APP_ID=1:124365662957:web:1fb447e0cecfa87be23ae4
NUXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
